APP_NAME="Saka Laptop"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://jakartalaptops.com

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

LOG_CHANNEL=single
LOG_LEVEL=warning

OWNER_EMAIL=
OWNER_PASSWORD=
DEVELOPER_EMAIL=
DEVELOPER_PASSWORD=
